/* Styling the navbar */
.navbar {
    background-color: #F3F2F1 !important;
    box-shadow: none !important;
    border-bottom: 1px solid #E6E6E6 !important;
    height: 56px !important;
}

.navbar-brand {
    color: #446879 !important;
    font-size: 24px !important;
    font-weight: 600 !important;
    margin-left: 1.5rem !important;
}

.navbar-toggler {
    border: none !important;
    padding-right: 0 !important;
}

.nav-link {
    color: #333;
    font-size: 16px;
    font-weight: 400;
    margin-left: 2rem;
    margin-right: 2rem;
    text-decoration: none; /* remove underline on hover  */
}

.nav-link:hover {
    color: #0078D4 !important;
    background-color: rgb(141, 194, 255);
    border-radius: 5px;
    text-decoration: underline; /* add underline on hover */
}

.nav-item {
    border-right: 2px solid #677c8d !important; /* add border between links */
    padding-right: 1rem !important; /* add padding to the right of each link */
}

.nav-item:last-child {
    border-right: none !important; /* remove border on last link */
    padding-right: 0 !important; /* remove right padding on last link */
}

.active {
    color: #0078D4 !important;
}

/* popout pane for settings */
/* hide the settings pane by default */
#settings-pane {
    display: none;
}

/* style the settings button/link */
#settings-button {
    padding: 12px;
    text-align: auto;
    margin-top: 5px;
    border: none;
    cursor: pointer;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url("../images/settings_gear.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

/* Show the settings pane when the button/link is clicked */
#settings-pane {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 55px;
    right: 20px;
    background-color: white;
    border: 1px solid #0f0f0f;
    padding: 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    z-index: 1;
    width: 300px;
  }

/* Style the Dark Mode label text */
.darkmode_label_text {
    margin-right: 50px;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    font-family: sans-serif;
}
.darkmode_row td:last-child {
    background-color: red;
    text-align: right;
}

/* Style the Dark Mode switch */
.darkmode_switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

/* Style the Dark Mode switch input */
.darkmode_switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Style the Dark Mode switch slider */
.darkmode_slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: -1px;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

/* Style the Dark Mode switch slider roundness */
.darkmode_slider.round {
    border-radius: 34px;
    vertical-align: middle !important;
}

/* Style the Dark Mode switch slider when toggled on */
.darkmode_switch input:checked + .darkmode_slider {
    background-color: green;
}

/* Style the Dark Mode switch slider when toggled on and its roundness */
.darkmode_switch input:checked + .darkmode_slider.round {
    border-radius: 34px;
}

/* Style the Dark Mode switch slider thumb */
.darkmode_slider::before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

/* Style the Dark Mode switch slider thumb when toggled on */
.darkmode_switch input:checked + .darkmode_slider::before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.darkmode_switch_div {
    vertical-align: middle;
}