<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/baseGeneral.css') }}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">My Web App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item"> 
                    <a class="nav-link" href="/app1">Application 1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/app2">Application 2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/colors">colors</a>
                </li>
            </ul>
        </div>

        <!-- Menu for settings -->
        <div>
            <!-- settings button/link -->
            
            <a id="settings-button"></a>

            <!-- settings pane (hidden by default) -->
            <div id="settings-pane">
                <ul>
                    <li><a href="#">Option 1</a></li>
                    <li><a href="#">Option 2</a></li>
                    <li><a href="#">Option 3</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <script src="{{ url_for('static', filename='scripts/settings_popout.js') }}"></script>
</body>

</html>
